project    = "tamacoach"
env        = "shared"
owner      = "platform-team"
aws_region = "ap-northeast-2"

vpc_id = "vpc-056e6ad7a02202827"

public_subnet_ids = [
  "subnet-06ef9a31ccbd6a2fe",
  "subnet-05ef4503317c85baf"
]

private_subnet_ids = [
  "subnet-0391770b02ef5522b",
  "subnet-0d4af0728250a20af"
]

prod_private_subnet_cidrs = [
  "10.0.176.0/20",
  "10.0.192.0/20"
]

prod_private_subnet_azs = [
  "ap-northeast-2a",
  "ap-northeast-2c"
]

private_route_table_ids = [
  "rtb-07d165de08706253f",
  "rtb-0c9b843575716c372"
]

db_subnet_cidrs = [
  "10.0.160.0/24",
  "10.0.161.0/24"
]

db_subnet_azs = [
  "ap-northeast-2a",
  "ap-northeast-2c"
]

nat_mode     = "ha"
backend_port = 8000
db_port      = 5432

# GitLab OIDC + Terraform CI roles (shared)
enable_gitlab_oidc = false

# gitlab_oidc_issuer_url = "https://gitlab.com"
# gitlab_oidc_audience = "https://gitlab.com"
# gitlab_oidc_thumbprint_list = ["9e99a48a9960b14926bb7f3b02e22da0ecd0e5b0"]
# gitlab_project_path = "group/subgroup/tm-infra"
# gitlab_role_name_prefix_shared = "tamacoach-shared" # keep existing shared role name
# gitlab_role_name_prefix_dev = "tamacoach-dev"
# gitlab_role_name_prefix_prod = "tamacoach-prod"

enable_observability_metrics_platform = true
amp_workspace_alias                   = "tamacoach-shared-metrics"
amg_workspace_name                    = "tamacoach-shared-grafana"
# amg_authentication_providers        = ["AWS_SSO"]
# amg_admin_group_ids                 = ["<identity-center-group-id>"]
# amg_editor_group_ids                = []
# amg_viewer_group_ids                = []
