project    = "tm"
owner      = "platform-team"
aws_region = "ap-northeast-2"

vpc_id = "vpc-056e6ad7a02202827"

public_subnet_ids = [
  "subnet-06ef9a31ccbd6a2fe",
  "subnet-05ef4503317c85baf"
]

private_subnet_ids = [
  "subnet-0391770b02ef5522b",
  "subnet-0d4af0728250a20af"
]

private_route_table_ids = [
  "rtb-07d165de08706253f",
  "rtb-0c9b843575716c372"
]

db_subnet_cidrs = [
  "10.0.160.0/24",
  "10.0.161.0/24"
]

db_subnet_azs = [
  "ap-northeast-2a",
  "ap-northeast-2c"
]

nat_mode     = "ha"
backend_port = 8000
db_port      = 5432